.header-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.write-btn {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.posts-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.posts {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
